<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey <%= @user.name %>,</p>
    <p>
    Thank you for signing in with Okta.
    </p>
    <p>
    - Sent automatically from rails backend
    </p>
  </body>
</html>