@import './colors.scss';

.bill-form-container {
  padding: 20px;

  h2 {
    color: $font-grey;
    font-size: 22px;
    margin-left: 20px;
  }

  .bill-form {
    padding: 30px;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid $border-grey;
    color: $font-blue;
    width: 500px;
    margin: 20px auto;


    #amount {
      margin: 20px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        // font-weight: bold;
        font-size: 32px;
      }
    }
    // h2 {
    //   font-size: 20px;
    //   color: $font-blue;
    //   margin: 0px auto;
    //   padding-bottom: 20px;
    // }


    // h3 {
    //   color: $font-blue;
    //   font-size: 16px;
    // }

    input {
      border-radius: 4px;
      border: 1px solid $border-grey;
      padding: 10px 16px;
      margin: 10px 0px;
    }

    select {
      border: 1px solid $border-grey;
      margin: 10px 0px;
      height: 40px;
      font-size: 14px;
      padding: 20px;
    }

    button {
      margin-top: 10px;
      background-color: $green;
      color: white;
      padding: 10px;
    }
  }
}


.bill-index-container {
  padding: 20px;

  h2 {
    color: $font-grey;
    font-size: 22px;
    margin-left: 20px;
  }

  .bill-item {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid $border-grey;
  }

  .bill-item:hover {
    border: 1px solid $green;
  }

  h3 {
    color: $font-blue;
    font-size: 16px;
  }

}


.bill-show-container {
  padding: 20px;

  h2 {
    color: $font-grey;
    font-size: 22px;
    margin-left: 20px;
  }

  .customer-item {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid $border-grey;
  }

  .bill-action-item {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid $border-grey;

    h3 {
      color: $font-blue;
      font-size: 16px;
    }
  }

  .bill-buttons-container {
    margin: 20px;
    display: flex;
    justify-content: center;

    .bill-buttons {

      #pending {
        background-color: $font-grey;
        color: white;
        padding: 17px 30px;
        border-radius: 50px;
        width: 200px;
        margin: 10px;
        text-align: center;
      }

      #approve {
        background-color: $green;
        color: white;
        padding: 10px;
        width: 200px;
        padding: 17px 30px;
        border-radius: 50px;
        margin: 10px;
        text-align: center;
      }

      #reject {
        background-color: red;
        color: white;
        padding: 10px;
        width: 200px;
        padding: 17px 30px;
        border-radius: 50px;
        margin: 10px;
        text-align: center;
      }

    }


  }
}
