@import './colors.scss';

.customer-index-container {
  padding: 20px;

  h2 {
    color: $font-grey;
    font-size: 22px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .customer-item {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid $border-grey;

    h3 {
      color: $font-blue;
      font-size: 16px;
    }
  }

  .customer-item:hover {
    border: 1px solid $green;
  }


  .usage-item {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid $border-grey;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .usage-info {

      span {
        color: red;
        font-weight: bold;
      }
    }

    .usage-actions {


      button {
        margin-top: 10px;
        background-color: $green;
        color: white;
        padding: 10px;
      }
    }

  }
}
